@media screen and (max-width:1200px) {


    .center {
        max-width: 890px;
        width: 100%;
        margin: 0 auto;
    }

    .about__text {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }

    .services__desc {
        font-size: 14px;
    }

    .contact-form-promo {
        grid-template-columns: repeat(3, 270px);
    }

    .contacts-list {
        flex-wrap: wrap;
    }



}

@media screen and (max-width:900px) {

    .nav__link{
        font-size: 16px;
    }

    .offer__title{
        font-size: 26px;
        max-width: 250px;
    }
    
    .offer__desc{
        font-size: 20px;
    }

    .services{
        grid-template-columns: repeat(3, 250px);
    }

    .services__number{
        font-size: 30px;
    }

    .services__icon{
        margin-bottom: 10px;
    }

    .center {
        max-width: 690px;
        width: 100%;
        margin: 0 auto;
    }

    .about{
        flex-wrap: wrap;
        text-align: center;
        gap: 20px;
    }

    .about__photo {
        width: 600px;
        min-height: 330px;
        padding-top: 20px;
        padding-bottom: 50px;
        margin: 0 auto;
    }
    
    .about__button{
        justify-content: center;
        padding-bottom: 1px;
    }

    .about__text {
        font-size: 14px;
    }

    .about__title{
        font-size: 26px;
        margin: 0 auto;
    }

    .btn {
        font-size: 12px;
        line-height: 1.5;
        padding: 2px 4px;
    }

    .services__desc {
        font-size: 12px;
        
    }

    .services__title{
        margin-bottom: 10px;
    }

    .contact-form-promo {
        grid-template-columns: repeat(3, 190px);
    }

    .contacts-list {
        flex-wrap: wrap;
    }


    

    
}
@media screen and (max-width:768px) {

    .nav__link{
        font-size: 14px;
    }


    .offer__title{
        font-size: 20px;
        max-width: 200px;
    }
    
    .offer__desc{
        font-size: 20px;
    }

    .services{
        grid-template-columns: repeat(3, 150px);
    }

    .services__number{
        font-size: 25px;
    }

    .services__icon{
        margin-bottom: 10px;
    }

    .center {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }

    .about__text {
        font-size: 14px;
    }

    .about__title{
        font-size: 26px;
    }

    .btn {
        font-size: 12px;
        line-height: 1.5;
        padding: 2px 4px;
    }

    .services__desc {
        font-size: 12px;
        
    }

    .services__title{
        margin-bottom: 10px;
    }

    .contact-form-promo {
        grid-template-columns: repeat(3, 190px);
    }

    .contacts-list {
        flex-wrap: wrap;
    }

    .about__photo {
        width: 600px;
        min-height: 130px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    


    
}
@media screen and (max-width:480px) {

    .nav__link{
        font-size: 12px;
    }


    .offer__title{
        font-size: 20px;
        max-width: 200px;
    }
    
    .offer__desc{
        font-size: 16px;
    }

    .services{
        grid-template-columns: repeat(3, 100px);
    }

    .services__number{
        font-size: 18px;
    }

    .services__title{
        font-size: 16px;
    }

    .services__icon{
        margin-bottom: 10px;
    }

    .subtitle{
        font-size: 30px;
    }

    .center {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }

    .about__text {
        font-size: 14px;
    }

    .about__title{
        font-size: 26px;
    }

    .btn {
        font-size: 12px;
        line-height: 1.5;
        padding: 2px 4px;
    }

    .services__desc {
        font-size: 12px;
        
    }

    .services__title{
        margin-bottom: 10px;
    }

    .contact-form-promo {
        grid-template-columns: repeat(3, 100px);
    }

    .contact-form-promo .btn {
        grid-row: 4 / 4;
        grid-column: 1 / 4;
        
    }

    .contact-form__input{
        grid-column: 1 / 4;
    }

    .contact-form__input.contact-form__input_textarea {
        grid-row: 5 / 5;
        grid-column: 1 / 5;
        resize: none;
    }

    .contacts-list {
        flex-wrap: wrap;
    }

    .about__photo {
        width: 600px;
        min-height: 130px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    


    
}